.DS_Store
.idea/*
eduApp/settings.py

eduApp/__pycache__/*
eduApp/backend/__pycache__/*


*.pyc
*.py

eduApp/backend/about_us/__pycache__/*
eduApp/backend/about_us/__pycache__/views.cpython-310.pyc
eduApp/frontend/__pycache__/*
