{% extends "backend/master.html" %}
{% load static %}
{% block title %} Tạo - chương trình học {% endblock %}
{% block css %}

{% endblock %}

{% block sidebar %}

{% endblock %}
{% block content %}
    <div class="card o-hidden border-0 shadow-lg m-2">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="p-3">
                        <div class="text-left">
                            <h6 class="h4 text-primary-900 mb-4 text-primary">
                                <a href="{% url 'study-program:programme' %}">
                                    <i class="fas fa-arrow-circle-left"></i> Chương trình học
                                </a>
                                <span class="h4 text-gray-700 mb-4">/ Tạo </span></h6>
                        </div>
                        <form method="post" action="{% url 'study-program:programme-create' %}" enctype="multipart/form-data" class="parsley-form">
                            {% csrf_token %}
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="program_name" class="mb-1">Tên chương trình</label>
                                    <input type="text" class="form-control form-control-range" id="program_name"
                                           placeholder="Nhập tên chương trình" name="program_name">
                                </div>
                                <div class="col-sm-6">
                                    <label for="program_abbreviations" class="mb-1">Tên viết tắc</label>
                                    <input type="text" class="form-control form-control-range" id="program_abbreviations"
                                           placeholder="Nhập tên viết tắt" name="program_abbreviations">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="program_detail" class="mb-1">Chi tiết</label>
                                <textarea class="form-control form-control-range" id="program_detail" name="program_detail"
                                          placeholder="Nhập thông tin chương trình học"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="program_status" checked name="program_status">
                                    <label class="custom-control-label mb-1" for="program_status">Còn hoạt động</label>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-primary btn-range col-2" value="Lưu"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}{% endblock %}