{% load static %}
<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item ">
    <a class="nav-link" href="{% url 'study-program:program' %}">
        <i class="fas fa-list fa-sm fa-fw"></i>
        <span>Chương trình</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'study-program:class' %}">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Lớp học</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'study-program:topic' %}">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Môn học</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'study-program:lesson' %}">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Bài giảng</span>
    </a>
</li>