{% extends "backend/master.html" %}
{% load static %}
{% block title %} Tạo môn học {% endblock %}
{% block css %}

{% endblock %}

{% block sidebar %}

{% endblock %}
{% block content %}
    <div class="card o-hidden border-0 shadow">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="p-3">
                        <div class="text-left">
                            <h6 class="h4 text-primary-900 mb-4 text-primary">
                                <a href="{% url 'study-program:topic' %}">
                                    <i class="fas fa-arrow-circle-left"></i> Môn học
                                </a>
                                <span class="h4 text-gray-700 mb-4">/ Tạo </span>
                            </h6>
                        </div>
                        <form method="post" action="{% url 'study-program:topic-create' %}" enctype="multipart/form-data" class="parsley-form">
                            {% csrf_token %}
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="topic_name" class="mb-1">Tên môn học</label>
                                    <input type="text" class="form-control form-control-range" id="topic_name"
                                           placeholder="Nhập tên môn học" name="topic_name" required>
                                </div>
                                <div class="col-sm-6">
                                    <label for="topic_code" class="mb-1">Tên viết tắc</label>
                                    <input type="text" class="form-control form-control-range" id="topic_code"
                                           placeholder="Nhập tên viết tắt" name="topic_code">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label for="topic_class" class="mb-1">Thuộc lớp</label>
                                    <select type="text" class="form-control form-control-range" id="topic_class"
                                            name="topic_class" required>
                                    <option>--- Chọn lớp ---</option>
                                        {% for item in obj %}
                                            <option value="{{ item.class_id }}">
                                                {{ item.class_name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label for="topic_detail" class="mb-1">Chi tiết</label>
                                    <input class="form-control form-control-range" placeholder="Nhập thông tin môn học"
                                              name="topic_detail" id="topic_detail">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="topic_status" checked name="topic_status">
                                    <label class="custom-control-label mb-1" for="topic_status">Còn hoạt động</label>
                                </div>
                            </div>
                            <div class="form-group text-right">
                                <input type="submit" class="btn btn-primary btn-range col-1" value="Lưu"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}{% endblock %}