{% extends "backend/master.html" %}
{% load static %}
{% block title %} Môn học {% endblock %}
{% block css %}
    <link href="{% static 'backend/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h4 class="text-primary-900 text-primary">Môn học
                <a href="{% url 'study-program:topic-create' %}"
                   class="btn btn-primary btn-sm btn-icon-split float-right">
                    <span class="icon text-white-50"><i class="fas fa-plus"></i></span>
                    <span class="text">Tạo</span>
                </a>
            </h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Tên môn học</th>
                        <th>Tên viết tắt</th>
                        <th>Thuộc lớp</th>
                        <th>Chi tiết</th>
                        <th class="text-center">Ngày tạo</th>
                        <th class="text-center">Ngày sửa</th>
                        <th class="text-center">Trạng thái</th>
                        <th class="text-center">Hành động</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in obj %}
                        <tr>
                            <td>{{ item.topic_name }}</td>
                            <td>{{ item.topic_code }}</td>
                            <td>{{ item.topic_class.class_name }}</td>
                            <td>{{ item.topic_detail }}</td>
                            <td class="text-center">{{ item.topic_created_at|date:"d/m/Y" }}</td>
                            <td class="text-center">{{ item.topic_updated_at|date:"d/m/Y" }}</td>
                            <td class="text-center">
                                {% if item.topic_status == True %}
                                    <button class="btn btn-success btn-circle btn-sm">
                                        <i class="fas fa-check"></i>
                                    </button>
                                {% else %}
                                    <button class="btn btn-warning btn-circle btn-sm">
                                        <i class="fas fa-exclamation-triangle"></i>
                                    </button>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <a href="#" class="btn btn-info btn-circle btn-sm">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a href="#" class="btn btn-danger btn-circle btn-sm">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <!-- Page level plugins -->
    <script src="{% static 'backend/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'backend/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'backend/js/demo/datatables-demo.js' %}"></script>
{% endblock %}