{% extends "backend/master.html" %}
{% load static %}
{% block title %} Giới thiệu {% endblock %}
{% block css %}
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    {% comment %}<link href="{% static 'backend/css/summernote/summernote-bs4.min.css' %}" rel="stylesheet" type="text/css">{% endcomment %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <!-- Page Heading -->
        {% comment %}<h1 class="h3 mb-2 text-gray-800">Giới thiệu</h1>{% endcomment %}
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6><a class="m-0 font-weight-bold text-primary" href="{% url "about_us:index" %}">Bài viết giới
                    thiệu</a> / Thêm mới</h6>
            </div>
            <div class="card-body">
                <form>
                    {% csrf_token %}
                    <div id="summernote">
                    </div>
                    <div class="justify-content-end" style="display:flex;margin-right: auto; padding-top: 15px">
                        <a href="#" id="data-note" type="submit" class="btn btn-primary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-save"></i>
                                        </span>
                            <span class="text">Lưu</span>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    {% comment %}<script src="{% static 'backend/js/summernote/summernote.min.css' %}"></script>{% endcomment %}
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        $(document).ready(function () {
            $(document).on('click', '#data-note', function (e) {
                let textareaValue = $('#summernote').summernote('code');
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    headers: {'X-CSRFToken': csrftoken},
                    url: "{% url 'about_us:create' %}",
                    data: {"textareaValue": textareaValue},
                    success: function (response) {
                        if (response != null) {
                            window.location.replace("{% url 'about_us:index' %}")
                        }
                    },
                    error: function (response) {
                        console.log(response)
                    }
                });
            });
            $('#summernote').summernote();
        });
    </script>
{% endblock %}