{% extends "frontend/master.html" %}
{% load static %}
{% block title %} Thông tin tài khoản {% endblock %}
{% block css %}
{% endblock %}
{% block content %}
    <div class="card-body">
        <div class="row mb-4">
            <h3 class="m-auto">Cập nhật thông tin tài khoản</h3>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form method="post" action="{% url 'frontend:change-password' client_id=client.client_id %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-4 m-auto">
                            <div class="form-group">
                                <label for="username" class="mb-1">Nhập mật khẩu cũ</label>
                                <input type="password" class="form-control form-control-range" id="username" name="re-password" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 m-auto">
                            <div class="form-group">
                                <label for="email" class="mb-1">Nhập mật khẩu mới</label>
                                <input type="password" class="form-control form-control-range" id="email" name="password">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 m-auto">
                            <div class="form-group">
                                <label for="email" class="mb-1">Nhập lại mật khẩu mới</label>
                                <input type="password" class="form-control form-control-range" id="email" name="password-again">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="m-auto">
                            <button class="btn btn-sm btn-primary" type="submit">Cập nhật</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row mt-4">
            <h4 class="m-auto text-danger">{{ status }}</h4>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{% endblock %}