{% extends "frontend/master.html" %}
{% load static %}
{% load humanize %}
{% block title %} Học online {% endblock %}
{% block css %}
    <style>

    </style>
{% endblock %}
{% block content %}
    <div id="inner_banner" class="section inner_banner_section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="title-holder">
                            <div class="title-holder-cell text-left">
                                <div class="main_heading text_align_center">
                                    <h2 class="text-white">Học online</h2>
                                </div>
                            </div>
                            <ol class="breadcrumb">
                                <li><a href="{% url 'frontend:index' %}">Trang chủ</a></li>
                                <li>Học online</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all mt-3">
                {% for item in obj_card %}
                    <div class="product_list" style="box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); min-height: 300px">
                        <div class="product_img">
                            <img class="img-responsive" src="{{ item.card_image }}" alt="">
                        </div>
                        <div class="product_detail_btm">
                            <div class="center">
                                <h4><a href="#">{{ item.card_name }}</a></h4>
                            </div>
                            <div class="center" style="font-family: system-ui">
                                <h5><a href="#">{{ item.card_price|intcomma }}</a></h5>
                            </div>
                            <div class="center mt-4" style="font-family: system-ui">
                                <h6><a style="color: #039ee3" href="{% url 'frontend:online-learning-detail' %}">Chi tiết</a></h6>
                            </div>
                            {% comment %}<div class="text-center mt-3">
                                <ul style="font-family: system-ui">
                                    <li>Giá trị thẻ học: 12 tháng</li>
                                    <li>Hỗ trợ kỹ thuật: 0818.847.777</li>
                                    <li>Email: hotro.educard.vn@gmail.com</li>
                                </ul>
                            </div>{% endcomment %}

                            {% comment %}<div class="row">
                                <div class="col-6"><img class="img-responsive" src="{% static 'frontend/images/qrcode.png' %}" alt=""></div>
                            </div>{% endcomment %}
                            {% comment %}<div class="starratin">
                                <div class="center mt-2">
                                    <a href="#">Chi tiết</a>
                                </div>
                            </div>{% endcomment %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script>
        $('#online-learning').addClass('active')
    </script>
{% endblock %}