{% extends "frontend/master.html" %}
{% load static %}
{% block title %} Thông tin tài khoản {% endblock %}
{% block css %}
{% endblock %}
{% block content %}
    <div class="card-body">
        <div class="row mb-4">
            <h3 class="m-auto">Cập nhật thông tin tài khoản</h3>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form method="post" action="{% url 'frontend:setting-client' client_id=client.client_id %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-4 m-auto">
                            <div class="form-group">
                                <label for="username" class="mb-1">Tên đăng nhập</label>
                                <input type="text" class="form-control form-control-range" id="username"
                                       placeholder="Nhập tên đăng nhập" name="username" required value="{{ client.client_name }}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 m-auto">
                            <div class="form-group">
                                <label for="email" class="mb-1">Email</label>
                                <input type="email" class="form-control form-control-range" id="email" value="{{ client.client_mail }}"
                                       placeholder="Nhập email của bạn" name="email">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="m-auto">
                            <button class="btn btn-sm btn-primary" type="submit">Cập nhật</button>
                            <a href="{% url 'frontend:logout-client' %}" class="btn btn-sm btn-danger text-white">Đăng xuất</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row mt-4">
            <h4 class="m-auto text-danger">{{ status }}</h4>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{% endblock %}